{% extends "store/nav1.html" %}
{% load static %}
{% block content %}
<div class = "text-center p-4 m-4">
    <h4>Thank you for choosing  KwikMart</h4>
    <img src="{% static 'images/shopping-bag.png' %}" alt="" width="400px" height="200px"  >
    <h5 class=" p-1"> </h5>
    <h4>Order Placed Successfully</h4>
    <h6>We will deliever your Order Soon</h6>
    For any queries/cancelling your orders please mail to <a href="https://www.google.com/intl/en-GB/gmail/about/#">kwikmart.2021@gmail.com</a>
</div>
{% endblock %}